*{
    top: 0;
    left: 0;
    box-sizing: border-box;
}

/* Linear Gradient no Background entre hsl(273, 75%, 66%) e hsl(228, 45%, 44%) */

body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(228, 45%, 44%));
}

:root {
    font-size: 62.5%;
}

.attribution-desktop {
    display: none;
}



main {

    width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    height: fit-content;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(238, 29%, 16%);
    
}

#illustration-woman-online-mobile {
    margin-bottom: -80px;
}

.logo-mobile {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    z-index: 1;
    margin-bottom: -100px;
}

.logo-desktop {
    display: none;
}

.container {
    position: relative;
    background-color: white;
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 50px;
    border-radius: 20px;
    margin: 0 auto;
}

#title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container p {
    font-size: 12px;
}

.questions {
    position: relative; 
    cursor: pointer;
}

.questions img {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.questions.open img {
    transform: translateY(-50%) rotate(180deg);
}


.answers {
    display: none;
    color: hsl(210, 8%, 44%);
   
}

.questions.open {
    font-weight: 700;
}

.questions.open + .answers {
    display: block;
}

.accordion {
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

@media (min-width: 940px) {

    /* centralizar o body no meio da tela */

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    
    body {
        background-color: hsl(228, 45%, 44%);
    }
   
   
    main {
        width: 1000px;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .logo-mobile {
        display: none;
    }

    .logo-desktop {
        position: relative;
        left: 0;
        margin-left: -100px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    #illustration-woman-online-desktop {
        margin-bottom: -350px;
    }

    .container {
        padding-top: 30px;
        display: flex;
        flex-direction: row ;
    }

    #title {
        text-align: left;
        font-size: 28px;
    }

    section {
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    /* alinhar o attribution*/

    .attribution {
        display: none;
    }

    .attribution-desktop {
        display: block;
    }

    .attribution-desktop a {
        color: black;
    }

    .attribution-desktop a:hover {
        color: hsl(273, 75%, 66%);
    }

    .logo-desktop-box {
       position: absolute;
       top: 20%;
       left: -10%;


    }
    


}






.attribution { 
    font-size: 11px; 
    text-align: center;
    padding: 10px;
 }

.attribution a { 
    color: black 
    }

.attribution a:hover {
    color: hsl(240, 5%, 91%);
}